<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Aura</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.aura.MusicDashboard</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Aura</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.58</string>
	<key>CFBundleVersion</key>
	<string>59</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Aura requires permissions to automate the macOS Music app to fetch song statistics and build your personal dashboard.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Aura requires permission to access photo metadata to build your personal photography dashboard.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Aura requires access to your Photo Library to fetch capture dates, camera models, and locations for your personal dashboard.</string>
</dict>
</plist>
